h1 {
    color: red;
}

.container {
    width: 800px;
    height: 800px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.gridRow {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    
}

.gridColumn {
    border: 1px solid black;
}