* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

.container {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.gridRow {
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6.25%;
    
}

.gridColumn {
    border: 0.1px solid grey;
    height: 6.25%;
}